# Load in the data:

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Numbers_Data.csv", index_col = 0)

In [3]:
#Assign vars to the avg # of children for Gr 1-6: 
b_num_avg = data["beirut"][["GR16_Y1", "GR16_Y3", "GR16_Y4","GR16_Y6", "GR16_Y7"]].to_numpy()
ba_num_avg = data["baalbek"][["GR16_Y1", "GR16_Y3", "GR16_Y4","GR16_Y6", "GR16_Y7"]].to_numpy()
n_num_avg = data["north"][["GR16_Y1", "GR16_Y3", "GR16_Y4","GR16_Y6", "GR16_Y7"]].to_numpy()
bq_num_avg = data["beqaa"][["GR16_Y1", "GR16_Y3", "GR16_Y4","GR16_Y6", "GR16_Y7"]].to_numpy()
a_num_avg = data["aakar"][["GR16_Y1", "GR16_Y3", "GR16_Y4","GR16_Y6", "GR16_Y7"]].to_numpy()
s_num_avg = data["south"][["GR16_Y1", "GR16_Y3", "GR16_Y4","GR16_Y6", "GR16_Y7"]].to_numpy()
mt_num_avg = data["mount"][["GR16_Y1", "GR16_Y3", "GR16_Y4","GR16_Y6", "GR16_Y7"]].to_numpy()
nb_num_avg = data["nabatieh"][["GR16_Y1", "GR16_Y3", "GR16_Y4","GR16_Y6", "GR16_Y7"]].to_numpy()

In [4]:
#Assign vars to the avg # of non Lebanese students: 
b_nls_avg = data["beirut"][['NLG16_Y1','NLG16_Y3','NLG16_Y4','NLG16_Y6','NLG16_Y7']].to_numpy()
ba_nls_avg = data["baalbek"][['NLG16_Y1','NLG16_Y3','NLG16_Y4','NLG16_Y6','NLG16_Y7']].to_numpy()
n_nls_avg = data["north"][['NLG16_Y1','NLG16_Y3','NLG16_Y4','NLG16_Y6','NLG16_Y7']].to_numpy()
bq_nls_avg = data["beqaa"][['NLG16_Y1','NLG16_Y3','NLG16_Y4','NLG16_Y6','NLG16_Y7']].to_numpy()
a_nls_avg = data["aakar"][['NLG16_Y1','NLG16_Y3','NLG16_Y4','NLG16_Y6','NLG16_Y7']].to_numpy()
s_nls_avg = data["south"][['NLG16_Y1','NLG16_Y3','NLG16_Y4','NLG16_Y6','NLG16_Y7']].to_numpy()
mt_nls_avg = data["mount"][['NLG16_Y1','NLG16_Y3','NLG16_Y4','NLG16_Y6','NLG16_Y7']].to_numpy()
nb_nls_avg = data["nabatieh"][['NLG16_Y1','NLG16_Y3','NLG16_Y4','NLG16_Y6','NLG16_Y7']].to_numpy()

In [5]:
#Assign vars to the avg # of Lebanese students: 
b_ls_avg = data["beirut"][['LSG16_Y1','LSG16_Y3','LSG16_Y4','LSG16_Y6','LSG16_Y7']].to_numpy()
ba_ls_avg = data["baalbek"][['LSG16_Y1','LSG16_Y3','LSG16_Y4','LSG16_Y6','LSG16_Y7']].to_numpy()
n_ls_avg = data["north"][['LSG16_Y1','LSG16_Y3','LSG16_Y4','LSG16_Y6','LSG16_Y7']].to_numpy()
bq_ls_avg = data["beqaa"][['LSG16_Y1','LSG16_Y3','LSG16_Y4','LSG16_Y6','LSG16_Y7']].to_numpy()
a_ls_avg = data["aakar"][['LSG16_Y1','LSG16_Y3','LSG16_Y4','LSG16_Y6','LSG16_Y7']].to_numpy()
s_ls_avg = data["south"][['LSG16_Y1','LSG16_Y3','LSG16_Y4','LSG16_Y6','LSG16_Y7']].to_numpy()
mt_ls_avg = data["mount"][['LSG16_Y1','LSG16_Y3','LSG16_Y4','LSG16_Y6','LSG16_Y7']].to_numpy()
nb_ls_avg = data["nabatieh"][['LSG16_Y1','LSG16_Y3','LSG16_Y4','LSG16_Y6','LSG16_Y7']].to_numpy()

In [6]:
#Create the correct dataframe: 
df = [['Beirut Governorate', b_num_avg,b_nls_avg,b_ls_avg], 
        ['Baalbek-Hermel Governorate',ba_num_avg, ba_nls_avg,ba_ls_avg],
        ['North Governorate',n_num_avg,n_nls_avg,n_ls_avg],
        ['Beqaa Governorate',bq_num_avg,bq_nls_avg,bq_ls_avg],
        ['Akkar',a_num_avg,a_nls_avg,a_ls_avg],
        ['South Governorate',s_num_avg,s_nls_avg,s_ls_avg],
        ['Mount Lebanon Governorate',mt_num_avg,mt_nls_avg,mt_ls_avg],
        ['Nabatieh Governorate',nb_num_avg,nb_nls_avg,nb_ls_avg]]
data= pd.DataFrame(df, columns=['NAME', 'Grades 1-6', 'Non-Lebanese Students', 'Lebanese Students'])
data

,NAME,Grades 1-6,Non-Lebanese Students,Lebanese Students
0,Beirut Governorate,"[222.7741935483871, 239.48387096774192, 244.25...","[98.36666666666666, 110.25806451612904, 114.70...","[131.83333333333334, 129.2258064516129, 129.54..."
1,Baalbek-Hermel Governorate,"[101.14942528735632, 125.31395348837208, 128.5...","[29.795180722891565, 39.46511627906977, 39.290...","[76.2289156626506, 85.84883720930233, 90.76744..."
2,North Governorate,"[172.96153846153845, 182.58333333333331, 182.0...","[25.927777777777777, 33.861111111111114, 33.67...","[148.95555555555555, 148.72222222222223, 150.3..."
3,Beqaa Governorate,"[118.8876404494382, 136.816091954023, 136.5617...","[38.57954545454545, 45.28735632183908, 42.4545...","[81.6590909090909, 91.52873563218392, 95.65909..."
4,Akkar,"[152.16176470588235, 171.1417910447761, 165.59...","[20.38167938931298, 26.94776119402985, 24.3555...","[137.587786259542, 144.19402985074626, 142.466..."
5,South Governorate,"[154.58715596330276, 183.8148148148148, 188.29...","[39.9245283018868, 59.50925925925926, 62.15740...","[119.0377358490566, 124.30555555555556, 127.87..."
6,Mount Lebanon Governorate,"[115.85106382978724, 128.33870967741936, 125.2...","[45.89784946236559, 51.08064516129032, 42.9569...","[71.1989247311828, 77.25806451612904, 83.68817..."
7,Nabatieh Governorate,"[98.55445544554456, 125.78947368421052, 125.69...","[23.70212765957447, 36.45263157894737, 37.1935...","[82.19148936170212, 89.33684210526316, 99.3118..."

# Creating the map with govenorates

In [7]:
from ipyleaflet import (Map, GeoData, basemaps, WidgetControl, GeoJSON,
 LayersControl, Icon, Marker,basemap_to_tiles, Choropleth,
 MarkerCluster, Heatmap,SearchControl, 
 FullScreenControl,Popup)
from ipywidgets import Text, HTML
from branca.colormap import linear
import geopandas as gpd
import osmium
import shapely.wkb
import json

In [8]:
# Initialize map: 
center = (33.8938, 35.5018)
m = Map(center=center, zoom = 10)

# Pull out the specific region
region = "lebanon"
def merge_two_dicts(x, y):
    z = x.copy()   # start with keys and values of x
    z.update(y)    # modifies z with keys and values of y
    return z
class AdminAreaHandler(osmium.SimpleHandler):
    def __init__(self):
        osmium.SimpleHandler.__init__(self)

        self.areas = []
        self.wkbfab = osmium.geom.WKBFactory()

    def area(self, a):            
        if  "admin_level" in a.tags:

            wkbshape = self.wkbfab.create_multipolygon(a)
            shapely_obj = shapely.wkb.loads(wkbshape, hex=True)
            
            area = { "id": a.id, "geo": shapely_obj }
            area = merge_two_dicts(area, a.tags)
            
            self.areas.append(area)
        
handler = AdminAreaHandler()
osm_file = f"./GeoData/lebanon-latest.osm"
handler.apply_file(osm_file, locations=True, idx='flex_mem')
df = pd.DataFrame(handler.areas)
gdf = gpd.GeoDataFrame(df, geometry="geo")

#Specify that you are looking for govenorates: 
in_lebanon = gdf[gdf.admin_level == "4"]
gov = in_lebanon[["geo", "name:en"]]

In [9]:
# This current geodataframe misses the Akkar region. 
# We have found it via a diffferent method and are importing it here: 
x = gpd.read_file("GeoData/akkar_fixed.shp")
x["name:en"]= "Akkar"
x = x[["geometry", "name:en"]]
x = x.rename_geometry('geo')

In [10]:
# Make geodata that combines the two 
#(for successful mapping and hovering feature)
# There
overall = pd.concat( [gov,x], ignore_index=True)

# Create a geodataframe
geodata_all = GeoData(geo_dataframe = overall, 
                        style={"color": "black", "fillColor": "#E0D071", "opacity":0.03, "weight":1.9, "dashArray":"2", "fillOpacity":0.6},
                        hover_style={"fillColor": "#b08a3e" , "fillOpacity": 1.0},
                        name = "Countries")
# Add this layer onto the map
m.add_layer(geodata_all)

/opt/homebrew/lib/python3.9/site-packages/geopandas/array.py:1406: UserWarning: CRS not set for some of the concatenation inputs. Setting output's CRS as WGS 84 (the single non-null crs provided).
  warnings.warn(

In [11]:
# You should see a map that has hoverable regions
m

Map(center=[33.8938, 35.5018], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zo…

# Now we create an updateable map:

In [12]:
import bqplot.pyplot as bplt
from bqplot import Lines, Figure, LinearScale, DateScale, Axis, OrdinalScale

In [13]:
gov_name = "Beirut Governorate"
data_name = "Grades 1-6"
linear_data = ['Y1', 'Y3','Y4','Y6','Y7']
x_data = data[data.NAME == gov_name][data_name].values[0]

In [14]:
fig = bplt.figure(title=gov_name)

line = bplt.plot(x=np.array(linear_data), y=x_data, colors = ["purple"])

bplt.xlabel("Year")
bplt.ylabel("No. of Students")
fig.animation_duration = 500
fig.layout.max_height = '250px'
fig.layout.max_width = '400px'
fig

Figure(animation_duration=500, axes=[Axis(label='Year', scale=OrdinalScale()), Axis(label='No. of Students', o…

In [15]:
def update_figure(gov_name, data_name):
    try:
        line.y = data[data.NAME == gov_name][data_name].values[0]
        fig.title = gov_name
    except Exception:
        pass

In [16]:
# This should update the graph above to represent Akkar
update_figure('Akkar',"Grades 1-6")

# Integrating map functionality:

In [17]:
widget_control1 = WidgetControl(widget=fig, position="bottomright")

m.add(widget_control1)


def on_hover(event, feature, **kwargs):
    global gov_name
    try: 
        gov_name = feature["properties"]["name:en"]
        update_figure(gov_name, data_name)
    except Exception: 
        pass
geodata_all.on_hover(on_hover)

from ipywidgets import Dropdown
dropdown = Dropdown(
    options=["Grades 1-6", 'Non-Lebanese Students', 'Lebanese Students'],
    value=data_name,
    description="Plotting:",
)


def on_click(change):
    global data_name
    try: 
        data_name = change["new"]
        update_figure(country_name, data_name)
    except Exception:
        pass


dropdown.observe(on_click, "value")

widget_control2 = WidgetControl(widget=dropdown, position="bottomleft")

In [18]:
m.add(widget_control2)

Map(center=[33.8938, 35.5018], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zo…

# If you have run all of the cells, run the below to just get the map components:

In [19]:
center = (33.8938, 35.5018)
m = Map(center=center, zoom = 10)
m.add_layer(geodata_all)
m.add(widget_control1)
m.add(widget_control2)

Map(center=[33.8938, 35.5018], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zo…